In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
%matplotlib inline

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-06-04 03:13:05,-21.2000,-175.2000,77.11,81,0,8.25
1,1,Okha,RU,2022-06-04 03:13:06,53.5739,142.9478,48.27,73,32,11.56
2,2,Bluff,NZ,2022-06-04 03:13:06,-46.6000,168.3333,50.81,67,88,6.82
3,3,Skibbereen,IE,2022-06-04 03:13:07,51.5500,-9.2667,48.69,90,18,8.16
4,4,Tiksi,RU,2022-06-04 03:13:08,71.6872,128.8694,43.56,84,98,6.20

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Percent Humidity Map

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Cloudiness Map

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds= city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Wind Speed Map

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights= wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

Vacay Criteria

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-06-04 03:13:05,-21.2000,-175.2000,77.11,81,0,8.25
5,5,Butaritari,KI,2022-06-04 03:13:08,3.0707,172.7902,80.91,72,43,5.95
6,6,Puerto Escondido,MX,2022-06-04 03:13:09,15.8500,-97.0667,81.43,57,75,0.00
15,15,Rikitea,PF,2022-06-04 03:13:15,-23.1203,-134.9692,75.54,78,77,9.98
16,16,Buala,SB,2022-06-04 03:13:15,-8.1450,159.5921,85.37,68,93,8.34
18,18,Lorengau,PG,2022-06-04 03:13:16,-2.0226,147.2712,84.76,64,17,10.22
19,19,Atuona,PF,2022-06-04 03:13:17,-9.8000,-139.0333,77.04,80,15,16.46
21,21,Marsh Harbour,BS,2022-06-04 03:13:18,26.5412,-77.0636,77.88,69,100,9.75
23,23,Victoria,HK,2022-06-04 03:11:19,22.2855,114.1577,89.96,81,100,11.01
34,34,Kroya,ID,2022-06-04 03:13:25,-7.6331,109.2461,83.03,69,100,2.44

In [16]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

Mapping Vacay Criteria

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0              Vaini      TO     77.11 -21.2000 -175.2000
5         Butaritari      KI     80.91   3.0707  172.7902
6   Puerto Escondido      MX     81.43  15.8500  -97.0667
15           Rikitea      PF     75.54 -23.1203 -134.9692
16             Buala      SB     85.37  -8.1450  159.5921
18          Lorengau      PG     84.76  -2.0226  147.2712
19            Atuona      PF     77.04  -9.8000 -139.0333
21     Marsh Harbour      BS     77.88  26.5412  -77.0636
23          Victoria      HK     89.96  22.2855  114.1577
34             Kroya      ID     83.03  -7.6331  109.2461

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaini,TO,77.11,-21.2000,-175.2000,Keleti Beach Resort
5,Butaritari,KI,80.91,3.0707,172.7902,Isles Sunset Lodge
6,Puerto Escondido,MX,81.43,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
15,Rikitea,PF,75.54,-23.1203,-134.9692,People ThankYou
16,Buala,SB,85.37,-8.1450,159.5921,Maringe Lagoon Lodge
18,Lorengau,PG,84.76,-2.0226,147.2712,Lorengau Harbourside Hotel
19,Atuona,PF,77.04,-9.8000,-139.0333,Villa Enata
21,Marsh Harbour,BS,77.88,26.5412,-77.0636,Abaco Beach Resort
23,Victoria,HK,89.96,22.2855,114.1577,Mini Central
34,Kroya,ID,83.03,-7.6331,109.2461,Devina kost & Homestay Kroya

Hotel Heat Map

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig